/*
  Layout of page

*/
.app-page {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 64px;
  &.app-menu-open {
    &:after {
      content: '';
      backdrop-filter: blur(1rem);
      position: fixed;
      top:0;
      left: 0;
      height: 100%;
      /*Full width - menu width*/
      width: calc(100% - 300px);
      z-index: 2;
    }
  }
}
.app-wrapper {
  display: flex;
  flex: 1 1 0%;

}
