<div class="header">
  <section class="header__title">
      <a class="app-a" routerLink="/">
        Angular demo
      </a>
  </section>

  <section class="header__categories">
    <nav>
      <ol class="header__categories__nav">
        <li #link class="header__categories__navitem" (mouseover)="moveMarker($event)" (mouseout)="resetMarkerPos()" routerLinkActive="header__categories__navitem-active" *ngFor="let categorie of categoriesNav;">
          <a class="categories-a" routerLink="{{categorie.link}}">{{categorie.name}}</a>
        </li>
      </ol>
    </nav>
    <div class="header__categories__mark" #marker></div>
  </section>
  <div>
    {{categories$ | async | json}}
  </div>
  <section class="header__navigation">
    <button class="button-clear" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </section>
</div>

<app-main-menu></app-main-menu>
