@import 'styles/colors';
section {
  padding: .8rem 1.2rem;
  display: flex;
  align-items: center;
}

.header {
  background-color: $base-light;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 4;
  height: 6.4rem;
  background: $base-light;

  &__navigation {
    margin-right: 1rem;
    button {
      transform: rotate(180deg);
    }
  }

  &__categories {
    position: relative;
    padding: 0;
    &__mark {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 0;
      background: $primary-dark;
      height: 2px;
      width: 100%;
      transition: all .35s ease-in-out;
    }
    &__nav {
      display: flex;
    }
  }
}
