/*
  Global theme colors
  - Background-color
  - Pending
  - Error
  - Success

*/

$base: #fafafa;
$base-dark: #e0e0e0;
$base-light: #ffffff;
$on-base: #000000;

$primary: #00bcd4;
$primary-dark: #008ba3;
$primary-light: #62efff;
$on-primary: #ffffff;
