/*
  Global style for links

*/

.app-a {
  color: $primary;
  transition: .25s;
  cursor: pointer;
  margin-right: 1em;

  &:hover {
    color: $primary-dark;
  }

  &_active {
    color: $primary-dark;
  }

}

.categories-a {
  padding: 4px 8px;
  text-decoration: none;
  transition: .25s;
  font-size: 1.4rem;
  color: $on-base;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    color: $primary-dark;
  }

  &_active {
    color: $primary-dark;
  }

}
