/*
  Global style for button

*/

.app-button {
  padding: .8rem 2rem;
  background: transparent;
  border-radius: 2.5rem;
  border: .2rem solid $primary;
  transition: .25s;
  margin: 0 .4rem;

  &:hover, &:focus {
    background: $primary;
    border: .2rem solid $primary;
    color: $on-primary;
  }
}

.button-clear {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border-radius: 0;
  border: .2rem solid transparent;
  margin: 0;
  transition: .25s;
}
