<nav class="app-main-nav" [class.app-main-nav-open]="menuState$ | async">
  <div class="submenu-header">
    <button class="button-clear button-close" (click)="closeMenu()">
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <ol class="submenu__list" *ngIf="this.submenu.length > 0" >
    <li *ngFor="let menu of this.submenu" routerLinkActive="submenu__list__link-active">
      <a [routerLink]="menu.url" class="submenu__list__link subcategories-a">{{menu.name}}</a>
    </li>
  </ol>
  <div class="submenu__nolink" *ngIf="this.submenu.length === 0">
    No link available yet
  </div>
</nav>

<div class="tds-modal-backdrop" (click)="closeMenu()" [class.tds-modal-backdrop-open]="menuState$ | async"></div>
